{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>순식간에 만들긔~!</title>
{% bootstrap_css %}
  
</head>
<body>
  <div class="container">
    <h1>-MSI-</h1>
    {% if user.is_authenticated %}
      <h3> 어서오세요, {{user.username}} 님 </h3>
      <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
      <a href="{% url 'accounts:login' %}">로그인</a><p>
      <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    <hr>
    {% block body %}
    {% endblock %}
  </div>
  {% bootstrap_javascript jquery='full' %}
</body>
</html>